html{
    background-color: #FFFAFA ;
}

body{
    color: #000000;
     display: flex;
     justify-content: center;
     flex-direction: column;
     margin: 0px
}

h1{
    color: #FFFAFA ;
    font-family: Impact;
    font-size: 50px !important;
    text-align: left;
    margin-top: 2px;
    margin-bottom: 15px;
}

h2{
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
    margin-left: 10px;
    font-size: 25px !important;
}
div#top {
    background-color: #1A3A51;
    width: 99.5%;
    border: 3px solid #B90411;
    padding: 2px;
}
div#bottom {
     color: #B3B3B3;
     line-height: 3;
     background-color: #1A3A51;
     text-align: center;
     position: fixed;
         bottom: 0px;
         height: 50px;
         width: 100%;
     border-top: 4px solid #B90411;
}
.topNav:after {
    display:block;
    clear:both;
}
ul.topnav {
list-style-type: none;
margin: 0 auto;
width: 100%;
height: 43px;
padding: 1px;
overflow: hidden;
background-color: #B90411;
text-align: center;
margin-top: .5%;
}
ul.topnav li {
display: inline-block;
text-align: center;
}
ul.topnav li a {
display: inline-block;
color: white;
text-align: center;
padding: 14px 16px;
text-decoration: none;
transition: 0.3s;
font-size: 17px;
}
ul.topnav li a:hover {
background-color: #acc1ca;
color: black
}
.navBar li:hover .sub-menu {
    z-index:1;
    opacity:1;
    visibility: visible;
}
.sub-menu {
    width:10%;
    padding:5px 0px;
    position:absolute;
    top:22.5%;
    left:44.9%;
    z-index:-1;
    opacity:0;
    transition:opacity linear 0.15s;
    box-shadow:0px 2px 3px rgba(0,0,0,0.2);
background-color: #1A3A51;
}
.sub-menu li {
    display:block;
    font-size:16px;
}
 
.sub-menu li a {
    padding:10px 30px;
    display:block;
}
 
.sub-menu li a:hover, .sub-menu .current-item a {
background-color: white;
}
.navBar li:hover .sub-menu2 {
    z-index:1;
    opacity:1;
    visibility: visible;
}
.sub-menu2 {
    width:10%;
    padding:5px 0px;
    position:absolute;
    top:22.5%;
    left:52.4%;
    z-index:-1;
    opacity:0;
    transition:opacity linear 0.15s;
    box-shadow:0px 2px 3px rgba(0,0,0,0.2);
background-color: #1A3A51;
}
.sub-menu2 li {
    display:block;
    font-size:16px;
}
 
.sub-menu2 li a {
    padding:10px 30px;
    display:block;
}
 
.sub-menu2 li a:hover, .sub-menu2 .current-item a {
background-color: white;
}
div.text{
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
    margin-left: 10px;
    margin-right: 10px;
}

div.svg{
    width: 25%;
    height: 25%;
    margin: auto;
    text-align: center;
    
}

img.newsBox{
    display: block;
    width: 50%;
    height: 25%; 
    margin: auto;
}

div#menu a:link{
    text-decoration: none;
    color: #FFFAFA ;
}

div#menu  a:visited{
    text-decoration: none;
    color: #FFFAFA;
}
a.hi {font-weight:bold;}
a:link{
    text-decoration: none;
    color: red ;
}

a:visited{
    text-decoration: none;
    color: green;
}
.webLinks{
    width: 100%;
 }
 
 .cc{
    position: absolute;
    right: 30px;
    top: 40px;
 }
 
a.license{
    text-decoration: underline;
}
a.colorFill{
    text-decoration: underline;
    color: black;
 }
