html{
    background-color: #FFFAFA;
}

body{
    color: #000000;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0px
}

div.h1{
    color: #FFFAFA;
    font-family: Impact;
    font-size: 50px !important;
    text-align: left;
    position: absolute;
    bottom: 5%;
}

h2{
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
    margin-left: 10px;
    font-size: 25px !important;
    background-color: #B90411;
    border: 3px solid #1A3A51;
    color: #FFFAFA;
    padding: 1px;
}
div#top{
    background-color: #1A3A51;
    border: 3px solid #B90411;
    padding: 2px;
    position: relative;
    height: 100px;
}

div#bottom{
    color: #B3B3B3;
    line-height: 3;
    background-color: #1A3A51;
    text-align: center;
    position: relative;
    bottom: 0px;
    /*height: 50px;*/
    width: 100%;
    border-top: 4px solid #B90411;
}

.dropbtn{
    background-color: #1A3A51;
    color: white;
    padding: 3px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
}

.dropbtn:hover,
.dropbtn:focus{
    background-color: #B90411;
}

.dropdown{
    position: absolute;
    top: 1%;
    left: 35%;
}

.dropdown-content{
    display: none;
    position: absolute;
    width: 300px;
    overflow: auto;
    z-index: 1;
    background-color: #1A3A51;
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
}

.dropdown-content a{
    padding: .5px 0px;
    text-decoration: none;

}

.dropdown a:hover{
    background-color: #B90411
}

.show{
    display: block;
}

.dropbtn1{
    background-color: #1A3A51;
    color: white;
    padding: 3px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
}

.dropbtn1:hover,
.dropbtn1:focus{
    background-color: #B90411;
}

.dropdown1{
    position: absolute;
    top: 1%;
    left: 48%;
}

.dropdown-content1{
    display: none;
    position: absolute;
    min-width: 259px;
    overflow: auto;
    z-index: 1;
    background-color: #1A3A51;
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
}

.dropdown-content1 a{
    padding: .5px 0px;
    text-decoration: none;

}

.dropdown1 a:hover{
    background-color: #B90411
}

.show1{
    display: block;
}

.dropbtn2{
    background-color: #1A3A51;
    color: white;
    padding: 3px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
}

.dropbtn2:hover,
.dropbtn2:focus{
    background-color: #B90411;
}

.dropdown2{
    position: absolute;
    top: 1%;
    left: 59%;
}

.dropdown-content2{
    display: none;
    position: absolute;
    min-width: 400px;
    overflow: auto;
    z-index: 1;
    background-color: #1A3A51;
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
}

.dropdown-content2 a{
    padding: .5px 0px;
    text-decoration: none;

}

.dropdown2 a:hover{
    background-color: #B90411
}

.show2{
    display: block;
}

div.text{
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
    margin-left: 10px;
    margin-right: 10px;
}

div.svg{
    width: 50%;
    height: 50%;
}

img.newsBox{
    display: block;
    width: 50%;
    height: 25%;
    margin: auto;
}

a:link{
    text-decoration: none;
    color: #FFFAFA;
}
a:visited{
    text-decoration: none;
    color: #FFFAFA;
}
div.text ul li a:link{
    color: black;
}
div.text ul li a:visited{
    color: red;
}
div.text ul li a:hover{
    color: blue;
}
a.hi{
    font-weight: bold;
}
a.hi:link{
    text-decoration: none;
    color: red;
}

a.hi:visited{
    text-decoration: none;
    color: green;
}

.webLinks{
    width: 100%;
}

.cc{
    position: absolute;
    right: .4%;
    top: 1%;
    transform: scale(.7, .7);
}

a.license{
    text-decoration: underline;
}
a.colorFill{
    text-decoration: underline;
    color: black;
}