html{
    background-color: #FFFAFA ;
}

body{
    color: #000000;
}

h1{
    color: #FFFAFA ;
    font-family: Impact;
    font-size: 50px !important;
    text-align: left;
    margin-top: 2px;
    margin-bottom: 15px;
}


div#top {
    background-color: #1A3A51;
    width: 99.5%;
    border: 3px solid #B90411;
    padding: 2px;
    
}

div#bottom {
    color: #B3B3B3;
    line-height: 3;
    background-color: #1A3A51;
    text-align: center;
    margin:0px;
    padding:0px;
    position: fixed;
        bottom: 0px;
        height: 50px;
        width: 100%;
    border-top: 4px solid #B90411;
    
}

div#menu{
    text-align: left;
    font-size: 20px !important;
    color: #B90411;
}

div.text{
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
}

div.svg{

    
}

img.newsBox{
    display: block;
    width: 50%;
    height: 25%; 
    margin: auto;
}

a:link{
    text-decoration: none;
    color: #FFFAFA ;
}

a:visited{
    text-decoration: none;
    color: #FFFAFA;
}

.webLinks{
    width: 100%;
}

.cc{
    position: absolute;
    right: 30px;
    top: 50px;
}

a.license{
    text-decoration: underline;
}
